<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!--配置说明-->
  <!--AppID需要自己在科大讯飞开发平台上自己申请-->
  <!--Username和Password如果是做语音听写的话为空即可-->
  <!--SessionBeginParams为会话的时候的配置参数，具体参考讯飞语音开放平台-->
  <appSettings>
    <add key="AppID" value="5790d2e9"/>
    <add key="WorkDir" value="."/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    <add key="SessionBeginParams" value="nlp_version = 2.0, sch = 1, sub = iat, domain = iat, language = zh_cn, accent = mandarin, sample_rate = 16000, result_type = xml, result_encoding = utf-8"/>
    <add key="tts_yueyu" value="voice_name = xiaomei, aue = speex - wb; 7, sample_rate = 16000, speed = 70, volume = 50, pitch = 50, rdn = 2"/>
    <add key="tts_putonghua" value="voice_name = xiaoyan, aue = speex - wb; 7, sample_rate = 16000, speed = 50, volume = 50, pitch = 50, rdn = 2"/>
  </appSettings>
</configuration>